@import '~bootstrap/dist/css/bootstrap.min.css';

a {
  cursor: pointer;
  user-select: text;
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}